@media screen and (min-width: 1024px){
    #navbarDesktopBlueContainer{
        max-width: none;
        min-width: 1024px;
        height: 120px;
        background: #96C8EB;
        padding-right: 85px;
        padding-left: 85px;
        margin-left: 0px;
        margin-right: 0px;
    }
    #navbarDesktopBlueContainer > .row > .colMenuBar {
        padding-top: 35px;
        padding-right: 88px;
        text-align: right;
        justify-content: flex-end;
        display: flex;
    }
}

@media screen and (min-width: 1152px){
    #navbarDesktopBlueContainer{
        max-width: none;
        min-width: 1152px;
        height: 120px;
        background: #96C8EB;
        padding-right: 110px;
        padding-left: 110px;
        margin-left: 0px;
        margin-right: 0px;
    }
    #navbarDesktopBlueContainer > .row > .colMenuBar {
        padding-top: 35px;
        padding-right: 48px;
        text-align: right;
        justify-content: flex-end;
        display: flex;
    }
}
@media screen and (min-width: 1280px){
    #navbarDesktopBlueContainer{
        max-width: none;
        min-width: 1280px;
        height: 120px;
        background: #96C8EB;
        padding-right: 125px;
        padding-left: 125px;
        margin-left: 0px;
        margin-right: 0px;
    }
    #navbarDesktopBlueContainer > .row > .colMenuBar {
        padding-top: 35px;
        padding-right: 35px;
        text-align: right;
        justify-content: flex-end;
        display: flex;
    }
}
@media screen and (min-width: 1360px){
    #navbarDesktopBlueContainer{
        max-width: none;
        min-width: 1360px;
        height: 120px;
        background: #96C8EB;
        padding-right: 145px;
        padding-left: 145px;
        margin-left: 0px;
        margin-right: 0px;
    }
    #navbarDesktopBlueContainer > .row > .colMenuBar {
        padding-top: 35px;
        padding-right: 35px;
        text-align: right;
        justify-content: flex-end;
        display: flex;
    }
}

@media screen and (min-width: 1366px){
    #navbarDesktopBlueContainer{
        max-width: none;
        min-width: 1366px;
        height: 120px;
        background: #96C8EB;
        padding-right: 145px;
        padding-left: 145px;
        margin-left: 0px;
        margin-right: 0px;
    }
    #navbarDesktopBlueContainer > .row > .colMenuBar {
        padding-top: 35px;
        padding-right: 35px;
        text-align: right;
        justify-content: flex-end;
        display: flex;
    }
}

@media screen and (min-width: 1440px){
    #navbarDesktopBlueContainer{
        max-width: none;
        min-width: 1440px;
        height: 120px;
        background: #96C8EB;
        padding-right: 165px;
        padding-left: 165px;
        margin-left: 0px;
        margin-right: 0px;
    }

    #navbarDesktopBlueContainer > .row > .colMenuBar {
        padding-top: 35px;
        padding-right: 35px;
        text-align: right;
        justify-content: flex-end;
        display: flex;
    }
}

#navbarDesktopBlueContainer > .row > .colLogoNavBar {
    text-align: left;
    padding-top: 43px;
}

#navbarDesktopBlueContainer > .row > .colButtonNavBar{
    padding-top: 36px;
    text-align: right;
}

#navbarDesktopBlueContainer > .row > .colButtonNavBar > #buttonAssetDesktop{
    justify-content: flex-end;
    display: flex;
    padding-right: 0px;
    padding-left: 0px;
}


#navbarDesktopBlueContainer > .row > .colMenuBar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
#navbarDesktopBlueContainer > .row > .colMenuBar > ul > li {
    float: left;
}
  
#navbarDesktopBlueContainer > .row > .colMenuBar > ul > li a {
    display: block;
    padding: 15px;
    background: none;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    text-decoration: none;
    /* white */
    color: #FFFFFF;
}

#navbarDesktopBlueContainer > .row > .colMenuBar > ul > li a:hover{
    text-decoration: none;
} 

.guideBookNavbar > i {
    position: absolute;
    margin-left: 8px;
    /* margin-top: 15px; */
}

.dropbtnNavbarDesktop {
    background-color: transparent;
    color: #222222;
    border: none;
    cursor: pointer;
    min-width: 160px;
    height: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.015em;
    /* text-transform: uppercase; */
    text-align: left;
}

.dropdown-contentNavBarDesktop {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 139px;
    /* overflow: auto; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    left: auto;
    border-radius: 8px;
}

#myDropdownNavbarDesktop > option{
    color: #000000;
    /* display: block; */
    min-width: 200px;
    height: 37px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    word-wrap: break-word;

    /* link */
}

#myDropdownNavbarDesktop > option:hover {
    color: #FFFFFF;
    background: #1A6EB2;
    border-radius: 8px;

}

#myDropdownNavbarDesktop > option:active {
    color: #FFFFFF;
    background: #1A6EB2;
}