#inputlogin{
    max-width: 375px;
    margin-bottom: 25px;
}
.inputClass::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
    opacity: 1; /* Firefox */
}

#inputlogin > .row > .col > span{
    color: red !important;
    margin-left: -8px;
}

.rowemaillogin{
    margin-bottom: 10px;
}

@media screen and (max-width: 360px) {
    #inputlogin{
        max-width: 360px;
        margin-bottom: 25px;
    }
    #inputlogin > .row > .col > div{
        width: 327px;
    }
}

@media screen and (max-width: 320px) {
    #inputlogin{
        max-width: 320px;
        margin-bottom: 25px;
    }
    #inputlogin > .row > .col > div{
        width: 290px;
    }
}
