@media screen and (min-width: 320px) {
    #titleWithSeparatorContainer{
        max-width: 320px;
    }
}
@media screen and (min-width: 360px) {
    #titleWithSeparatorContainer{
        max-width: 360px;
    }  
}
@media screen and (min-width: 375px) {
    #titleWithSeparatorContainer{
        max-width: 375px;
    }
}