@media screen and (min-width: 1024px){
    #cardImageNotFoundDesktopContainer{
        max-width: 1024px;
        padding-right: 85px;
        padding-left: 85px;
    }
    #cardImageNotFoundDesktopContainer > .row > .col > .card{
        width: 265px;
        min-height: 237px;
    }
    #cardImageNotFoundDesktopContainer > .row > .col{
        margin-bottom: 30px;
        
    }
    #cardImageNotFoundDesktopContainer > .row > .col > .card > .card-body > div > #secondaryButtonAssetDesktop > .row > .col > button{
        width: 225px;
    }
}

@media screen and (min-width: 1152px){
    #cardImageNotFoundDesktopContainer{
        max-width: 1152px;
        padding-right: 110px;
        padding-left: 110px;
    }
    #cardImageNotFoundDesktopContainer > .row > .col > .card{
        width: 290px;
        min-height: 247px;
    }
    #cardImageNotFoundDesktopContainer > .row > .col{
        margin-bottom: 30px;
        
    }
    #cardImageNotFoundDesktopContainer > .row > .col > .card > .card-body > div > #secondaryButtonAssetDesktop > .row > .col > button{
        width: 243px;
    }
}
@media screen and (min-width: 1280px){
    #cardImageNotFoundDesktopContainer{
        max-width: 1280px;
        padding-right: 125px;
        padding-left: 125px;
    }
    #cardImageNotFoundDesktopContainer > .row > .col > .card{
        width: 320px;
        min-height: 257px;
    }
    #cardImageNotFoundDesktopContainer > .row > .col{
        margin-bottom: 30px;
        
    }
    #cardImageNotFoundDesktopContainer > .row > .col > .card > .card-body > div > #secondaryButtonAssetDesktop > .row > .col > button{
        width: 267px;
    }
}
@media screen and (min-width: 1360px){
    #cardImageNotFoundDesktopContainer{
        max-width: 1360px;
        padding-right: 145px;
        padding-left: 145px;
    }
    #cardImageNotFoundDesktopContainer > .row > .col > .card{
        width: 335px;
        min-height: 267px;
    }
    #cardImageNotFoundDesktopContainer > .row > .col{
        margin-bottom: 30px;
        
    }
    #cardImageNotFoundDesktopContainer > .row > .col > .card > .card-body > div > #secondaryButtonAssetDesktop > .row > .col > button{
        width: 283px;
    }
}
@media screen and (min-width: 1366px){
    #cardImageNotFoundDesktopContainer{
        max-width: 1366px;
        padding-right: 145px;
        padding-left: 145px;
    }
    #cardImageNotFoundDesktopContainer > .row > .col > .card{
        width: 335px;
        min-height: 267px;
    }
    #cardImageNotFoundDesktopContainer > .row > .col{
        margin-bottom: 30px;
        
    }
    #cardImageNotFoundDesktopContainer > .row > .col > .card > div > #secondaryButtonAssetDesktop > .row > .col > button{
        width: 283px;
    }
}
@media screen and (min-width: 1440px){
    #cardImageNotFoundDesktopContainer{
        max-width: 1440px;
        padding-right: 165px;
        padding-left: 165px;
    }
    #cardImageNotFoundDesktopContainer > .row > .col > .card{
        width: 350px;
        min-height: 267px;
    }
    #cardImageNotFoundDesktopContainer > .row > .col{
        margin-bottom: 30px;
        
    }
    #cardImageNotFoundDesktopContainer > .row > .col > .card > div > #secondaryButtonAssetDesktop > .row > .col > button{
        width: 297px;
    }
}

#cardImageNotFoundDesktopContainer > .row > .col{
    justify-content: center;
    display: flex;
}

#cardImageNotFoundDesktopContainer > .row > .col > .card{
    border-radius: 0px;
    border: 0px;
    box-shadow: none;
    outline: none;
}

#cardImageNotFoundDesktopContainer > .row > .col > .card >  div > #secondaryButtonAssetDesktop{
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    /* margin-top: 34px; */
    margin-bottom: 19px;
}