@media screen and (min-width: 1024px){
    #cardImageWithButtonDesktopContainer{
        max-width: 1024px;
        padding-right: 85px;
        padding-left: 85px;
    }
    #cardImageWithButtonDesktopContainer > .row > .col-lg-4 > .card{
        width: 265px;
        min-height: 237px;
        border-radius: 8px !important;
        box-shadow: 0px 4px 8px rgba(150, 200, 235, 0.4);
    }
    #cardImageWithButtonDesktopContainer > .row > .col-lg-4{
        margin-bottom: 30px;
        
    }
    #cardImageWithButtonDesktopContainer > .row > .col-lg-4 > .card > .card-img-top {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        width: 265px;
        height: 160px;
    }
    #cardImageWithButtonDesktopContainer > .row > .col-lg-4 > .card > .card-body {
        flex: 1 1 auto;
        min-height: 79px;
        padding: 20px;
    }
    #cardImageWithButtonDesktopContainer > .row > .col-lg-4 > .card > .card-body > div > #secondaryButtonAssetDesktop > .row > .col > button{
        width: 225px;
    }
}

@media screen and (min-width: 1152px){
    #cardImageWithButtonDesktopContainer{
        max-width: 1152px;
        padding-right: 110px;
        padding-left: 110px;
    }
    #cardImageWithButtonDesktopContainer > .row > .col-lg-4 > .card{
        width: 290px;
        min-height: 247px;
        border-radius: 8px !important;
        box-shadow: 0px 4px 8px rgba(150, 200, 235, 0.4);
    }
    #cardImageWithButtonDesktopContainer > .row > .col-lg-4{
        margin-bottom: 30px;
        
    }
    #cardImageWithButtonDesktopContainer > .row > .col-lg-4 > .card > .card-img-top {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        width: 290px;
        height: 170px;
    }
    #cardImageWithButtonDesktopContainer > .row > .col-lg-4 > .card > .card-body {
        flex: 1 1 auto;
        min-height: 79px;
        padding: 20px;
    }
    #cardImageWithButtonDesktopContainer > .row > .col-lg-4 > .card > .card-body > div > #secondaryButtonAssetDesktop > .row > .col > button{
        width: 243px;
    }
}
@media screen and (min-width: 1280px){
    #cardImageWithButtonDesktopContainer{
        max-width: 1280px;
        padding-right: 125px;
        padding-left: 125px;
    }
    #cardImageWithButtonDesktopContainer > .row > .col-lg-4 > .card{
        width: 320px;
        min-height: 257px;
        border-radius: 8px !important;
        box-shadow: 0px 4px 8px rgba(150, 200, 235, 0.4);
    }
    #cardImageWithButtonDesktopContainer > .row > .col-lg-4{
        margin-bottom: 30px;
        
    }
    #cardImageWithButtonDesktopContainer > .row > .col-lg-4 > .card > .card-img-top {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        width: 320px;
        height: 180px;
    }
    #cardImageWithButtonDesktopContainer > .row > .col-lg-4 > .card > .card-body {
        flex: 1 1 auto;
        min-height: 79px;
        padding: 20px;
    }
    #cardImageWithButtonDesktopContainer > .row > .col-lg-4 > .card > .card-body > div > #secondaryButtonAssetDesktop > .row > .col > button{
        width: 267px;
    }
}
@media screen and (min-width: 1360px){
    #cardImageWithButtonDesktopContainer{
        max-width: 1360px;
        padding-right: 145px;
        padding-left: 145px;
    }
    #cardImageWithButtonDesktopContainer > .row > .col-lg-4 > .card{
        width: 335px;
        min-height: 267px;
        border-radius: 8px !important;
        box-shadow: 0px 4px 8px rgba(150, 200, 235, 0.4);
    }
    #cardImageWithButtonDesktopContainer > .row > .col-lg-4{
        margin-bottom: 30px;
        
    }
    #cardImageWithButtonDesktopContainer > .row > .col-lg-4 > .card > .card-img-top {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        width: 335px;
        height: 180px;
    }
    #cardImageWithButtonDesktopContainer > .row > .col-lg-4 > .card > .card-body {
        flex: 1 1 auto;
        min-height: 86px;
        padding: 20px;
    }
    #cardImageWithButtonDesktopContainer > .row > .col-lg-4 > .card > .card-body > div > #secondaryButtonAssetDesktop > .row > .col > button{
        width: 283px;
    }
}
@media screen and (min-width: 1366px){
    #cardImageWithButtonDesktopContainer{
        max-width: 1366px;
        padding-right: 145px;
        padding-left: 145px;
    }
    #cardImageWithButtonDesktopContainer > .row > .col-lg-4 > .card{
        width: 335px;
        min-height: 267px;
        border-radius: 8px !important;
        box-shadow: 0px 4px 8px rgba(150, 200, 235, 0.4);
    }
    #cardImageWithButtonDesktopContainer > .row > .col-lg-4{
        margin-bottom: 30px;
        
    }
    #cardImageWithButtonDesktopContainer > .row > .col-lg-4 > .card > .card-img-top {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        width: 335px;
        height: 180px;
    }
    #cardImageWithButtonDesktopContainer > .row > .col-lg-4 > .card > .card-body {
        flex: 1 1 auto;
        min-height: 86px;
        padding: 20px;
    }
    #cardImageWithButtonDesktopContainer > .row > .col-lg-4 > .card > .card-body > div > #secondaryButtonAssetDesktop > .row > .col > button{
        width: 283px;
    }
}
@media screen and (min-width: 1440px){
    #cardImageWithButtonDesktopContainer{
        max-width: 1440px;
        padding-right: 165px;
        padding-left: 165px;
    }
    #cardImageWithButtonDesktopContainer > .row > .col-lg-4 > .card{
        width: 350px;
        min-height: 267px;
        border-radius: 8px !important;
        box-shadow: 0px 4px 8px rgba(150, 200, 235, 0.4);
    }
    #cardImageWithButtonDesktopContainer > .row > .col-lg-4{
        margin-bottom: 30px;
        
    }
    #cardImageWithButtonDesktopContainer > .row > .col-lg-4 > .card > .card-img-top {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        width: 350px;
        height: 180px;
    }
    #cardImageWithButtonDesktopContainer > .row > .col-lg-4 > .card > .card-body {
        flex: 1 1 auto;
        min-height: 86px;
        padding: 20px;
    }
    #cardImageWithButtonDesktopContainer > .row > .col-lg-4 > .card > .card-body > div > #secondaryButtonAssetDesktop > .row > .col > button{
        width: 297px;
    }
}

#cardImageWithButtonDesktopContainer > .row > .col-lg-4 > .card > .card-body >  div > #secondaryButtonAssetDesktop{
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 34px;
    margin-bottom: 19px;
}