#radioTwoMobileid > .radio-toolbarTwo input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}
  
#radioTwoMobileid > .radio-toolbarTwo label {
    display: inline-block;
    background-color: #ddd;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    width: 167px;
    height: 40px;
    border: 0.4px solid #9B9B9B;
    box-sizing: border-box;
    border-radius: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    background: #FFFFFF;
    text-align: left;
    padding-left: 0px;
    width: 107px;
}
  
#radioTwoMobileid > .radio-toolbarTwo > .bsjpTwo > label > div{
    padding: 10px;
}
#radioTwoMobileid > .radio-toolbarTwo > .radio-toolbarTwo > label > div > i{
    left: 0px;
    padding: 0px;
}
#radioTwoMobileid > .radio-toolbarTwo > .row > .bsjpTwo > label > div > div {
    padding: 0px;
    display: inline-block;
    position: absolute;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}
  
#radioTwoMobileid > .radio-toolbarTwo input[type="radio"]:checked + label {
    background-color:#1A6EB2;;
    color: #FFFFFF;
    border: 0px;
}
  
#radioTwoMobileid > .radio-toolbarTwo input[type="radio"]:checked + label > div > i {
    color:  #FFFFFF !important;
}
  
#radioTwoMobileid > .radio-toolbarTwo > .radioTitle{
    text-align: left;
    padding-bottom: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}
  
  /* .container{
    max-width: 375px;
  }  */
  
  /* .bsjpTwo > label > div > i {
    font-size: 12px !important;
  } */
  
@media screen and (min-width: 320px) {
    #radioTwoMobileid{
      max-width: 320px;
    }
    #radioTwoMobileid > .radio-toolbarTwo > .row > .bsjpTwo > label {
      width : 95px
    }
    #radioTwoMobileid > .radio-toolbarTwo > .row > .bsjpTwo > label > div > i {
      font-size: 22px !important;
    }
    #radioTwoMobileid > .radio-toolbarTwo > .row > .bsjpTwo > label > div{
      padding-top : 10px;
      padding-left: 8px;
    }

    #radioTwoMobileid > .radio-toolbarTwo > .row > .bsjpTwo > label > div > div{
      padding-left: 10px;
    }
    #midConten{
      padding-left: 8px !important;
    }
}
 
@media screen and (min-width: 360px) {
  #radioTwoMobileid{
    max-width: 360px;
  }
  #radioTwoMobileid > .radio-toolbarTwo > .row > .bsjpTwo > label {
    width : 107px
  }
  #radioTwoMobileid > .radio-toolbarTwo > .row > .bsjpTwo > label > div > i {
    font-size: 22px !important;
  }
  #radioTwoMobileid > .radio-toolbarTwo > .row > .bsjpTwo > label > div{
    padding-top : 10px;
    padding-left: 8px;
  }

  #radioTwoMobileid > .radio-toolbarTwo > .row > .bsjpTwo > label > div > div{
    padding-left: 11px;
  }
  #midConten{
    padding-left: 8px !important;
  }
}

@media screen and (min-width: 375px) {
  #radioTwoMobileid{
    max-width: 375px;
  }
  #radioTwoMobileid > .radio-toolbarTwo > .row > .bsjpTwo > label {
    width : 107px
  }
  #radioTwoMobileid > .radio-toolbarTwo > .row > .bsjpTwo > label > div > i {
    font-size: 22px !important;
  }
  #radioTwoMobileid > .radio-toolbarTwo > .row > .bsjpTwo > label > div{
    padding-top : 11px;
    padding-left: 8px;
  }

  #radioTwoMobileid > .radio-toolbarTwo > .row > .bsjpTwo > label > div > div{
    padding-left: 10px;
  }
  #midConten{
    padding-left: 8px !important;
  }
}