@media screen and (min-width: 1024px){
    #singleDesktopBadgesContainer{
        max-width: 1024px;
        margin-bottom: 15px;
        overflow-x: hidden;
        padding-right: 85px;
        padding-left: 85px;
        margin-bottom: 25px;
    }
    #singleDesktopBadgesContainer > .row > .badgescolrightside > .input-group > i{
        position: absolute;
        z-index: 2;
        margin-top: 15px;
        margin-right: 230px;
    }
    #singleDesktopBadgesContainer > .row > .badgescolrightside > .input-group > .inputTextBadges{
        max-width: 265px;
        height: 49px;
        padding-left: 44px;
        background: #FFFFFF;
        border: 1px solid #B5B5B5;
        box-sizing: border-box;
        border-radius: 16px;
        z-index: 1;
    }
    #singleDesktopBadgesContainer > .row > .badgescol > div > #childBadgesDesktop > span{
        font-size: 14px;
    }
}

@media screen and (min-width: 1152px){
    #singleDesktopBadgesContainer{
        max-width: 1152px;
        margin-bottom: 15px;
        overflow-x: hidden;
        padding-right: 110px;
        padding-left: 110px;
        margin-bottom: 25px;
    }
    #singleDesktopBadgesContainer > .row > .badgescolrightside > .input-group > i{
        position: absolute;
        z-index: 2;
        margin-top: 15px;
        margin-right: 257px;
    }
    #singleDesktopBadgesContainer > .row > .badgescolrightside > .input-group > .inputTextBadges{
        max-width: 291px;
        height: 49px;
        padding-left: 44px;
        background: #FFFFFF;
        border: 1px solid #B5B5B5;
        box-sizing: border-box;
        border-radius: 16px;
        z-index: 1;
    }
    #singleDesktopBadgesContainer > .row > .badgescol > div > #childBadgesDesktop > span{
        font-size: 15px;
    }
}
@media screen and (min-width: 1280px){
    #singleDesktopBadgesContainer{
        max-width: 1280px;
        margin-bottom: 15px;
        overflow-x: hidden;
        padding-right: 125px;
        padding-left: 125px;
        margin-bottom: 25px;
    }
    #singleDesktopBadgesContainer > .row > .badgescolrightside > .input-group > i{
        position: absolute;
        z-index: 2;
        margin-top: 15px;
        margin-right: 289px;
    }
    #singleDesktopBadgesContainer > .row > .badgescolrightside > .input-group > .inputTextBadges{
        max-width: 324px;
        height: 49px;
        padding-left: 44px;
        background: #FFFFFF;
        border: 1px solid #B5B5B5;
        box-sizing: border-box;
        border-radius: 16px;
        z-index: 1;
    }
    #singleDesktopBadgesContainer > .row > .badgescol > div > #childBadgesDesktop > span{
        font-size: 15px;
    }
}
@media screen and (min-width: 1360px){
    #singleDesktopBadgesContainer{
        max-width: 1360px;
        margin-bottom: 15px;
        overflow-x: hidden;
        padding-right: 145px;
        padding-left: 145px;
        margin-bottom: 25px;
    }
    #singleDesktopBadgesContainer > .row > .badgescolrightside > .input-group > i{
        position: absolute;
        z-index: 2;
        margin-top: 15px;
        margin-right: 304px;
    }
    #singleDesktopBadgesContainer > .row > .badgescolrightside > .input-group > .inputTextBadges{
        max-width: 337px;
        height: 49px;
        padding-left: 44px;
        background: #FFFFFF;
        border: 1px solid #B5B5B5;
        box-sizing: border-box;
        border-radius: 16px;
        z-index: 1;
    }
    #singleDesktopBadgesContainer > .row > .badgescol > div > #childBadgesDesktop > span{
        font-size: 16px;
    }
}
@media screen and (min-width: 1366px){
    #singleDesktopBadgesContainer{
        max-width: 1366px;
        margin-bottom: 15px;
        overflow-x: hidden;
        padding-right: 145px;
        padding-left: 145px;
        margin-bottom: 25px;
    }
    #singleDesktopBadgesContainer > .row > .badgescolrightside > .input-group > i{
        position: absolute;
        z-index: 2;
        margin-top: 15px;
        margin-right: 304px;
    }
    #singleDesktopBadgesContainer > .row > .badgescolrightside > .input-group > .inputTextBadges{
        max-width: 339px;
        height: 49px;
        padding-left: 44px;
        background: #FFFFFF;
        border: 1px solid #B5B5B5;
        box-sizing: border-box;
        border-radius: 16px;
        z-index: 1;
    }
    #singleDesktopBadgesContainer > .row > .badgescol > div > #childBadgesDesktop > span{
        font-size: 16px;
    }
}
@media screen and (min-width: 1440px){
    #singleDesktopBadgesContainer{
        max-width: 1440px;
        margin-bottom: 15px;
        padding-right: 165px;
        padding-left: 165px;
        overflow-x: hidden;
        margin-bottom: 25px;
    }
    #singleDesktopBadgesContainer > .row > .badgescolrightside > .input-group > i{
        position: absolute;
        z-index: 2;
        margin-top: 15px;
        margin-right: 309px;
    }
    #singleDesktopBadgesContainer > .row > .badgescolrightside > .input-group > .inputTextBadges{
        max-width: 345px;
        height: 49px;
        padding-left: 44px;
        background: #FFFFFF;
        border: 1px solid #B5B5B5;
        box-sizing: border-box;
        border-radius: 16px;
        z-index: 1;
    }
    #singleDesktopBadgesContainer > .row > .badgescol > div > #childBadgesDesktop > span{
        font-size: 16px;
    }
}
#singleDesktopBadgesContainer > .row > .badgescol {
    text-align: left;
}

/* #singleDesktopBadgesContainer > .row > .badgescolrightside {
    align-content: flex-end;
    display: flex;
}
#singleDesktopBadgesContainer > .row > .badgescolrightside > .input-group{
    display: flex;
    justify-content: flex-end;
}
#singleDesktopBadgesContainer > .row > .badgescolrightside > .input-group > .inputTextBadges:focus,.inputTextBadges:active{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
} */
div.scrollmenu {
    position: relative;
    width: 100%;
    background-color:transparent;
    white-space: nowrap;
    /* overflow-x: scroll;
    scrollbar-width: none;  */
}

.activeClassBadgesDesktop{
    color: #FFFFFF !important;
    background: #1A6EB2 !important;
}

#childBadgesDesktop > span:hover{
    cursor: pointer !important;
}