#jumbotronMobileSecondaryContainer{
    background: #96C8EB;;
    height: 350px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0px;
    margin-left: 0px;
}

@media screen and (min-width: 320px) {
    #jumbotronMobileSecondaryContainer > #buttonAsset > div > div > button{
        width: 227px !important;
    }
}

@media screen and (min-width: 360px) {
    #jumbotronMobileSecondaryContainer > #buttonAsset > div > div > button{
        width: 227px !important;
    }
}

