/* #mobilecarousel > div > .slick-slide, .slick-active, .slick-current > .slick-list > .slick-track > div {
    margin-right: 21px !important;
} */

.carouselimagecss > img {
    border-radius: 8px !important;
    width: 286px;
    height: 189px;
}

#mobilecarousel{
    margin-bottom: 35px;
    max-width: 375px;
    padding-right: 0px !important;
}

.carouselimagecss{
    width: 286px;
}

@media screen and (max-width: 320px) {
    .carouselimagecss > img {
        border-radius: 8px !important;
        width: 235px;
        height: 149px;
    }
    
    #mobilecarousel{
        margin-bottom: 35px;
        max-width: 320px;
        padding-right: 0px !important;
    }
    
    .carouselimagecss{
        width: 235px;
    }
        
}