@media screen and (max-width: 360px) {
    #buttonAsset > div > div > button {
        width: 330px;
    }
}

@media screen and (max-width: 320px) {
    #buttonAsset > div > div > button {
        width: 290px;
    }
}

#buttonAsset{
    margin-bottom: 25px;
    max-width: 375px;
    justify-content: center;
    display: flex;
}
